/* new section slider css */
.banner-4-active__item {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.banner-4-active__item-content {
    margin-top: 10px;
    h1{
        text-align: left !important;
        font-size: 52px;
    }
}
.banner-4-active__item-media img {
    height: 420px;
}

/* close */

/* featur card css stsrt */
.feature-card {
  position: relative;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  min-height: 220px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.feature-card::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; 
  transition: bottom 0.4s ease-in-out;
  z-index: 0;
}

.feature-card:hover::before {
  bottom: 0; 
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
 color: #004aac !important;
}

.feature-icon {
  position: absolute;
  top: -20px;
  left: -20px;
  background: #004aac; 
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon i {
  font-size: 38px;
  color: #fff;
  margin-top: 15px;
  margin-left: 15px;
}

.feature-number {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 45px;
  font-weight: 700;
  color: #cccccc87;
  opacity: 0.9;
  z-index: 2;
}

.feature-content {
 padding: 67px 40px;
}


.feature-content:hover {
 padding: 67px 40px;
}

.feature-content h6 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 24px;
  margin-top: 20px;
}

.feature-content p {
  font-size: 14px;
  margin: 0;
}

.feature-card:hover .feature-content h6,
.feature-card:hover .feature-content p {
  color: #fff !important;
  z-index: 2;
  position: relative;
}
/* featur card css close */



/* for mobile css */
@media only screen and (max-width: 600px) {
  .banner-4-active__item-content {
    h1 {
        text-align: left !important;
        font-size: 38px;
    }
  }
}
